/*
          ***
     Стили для body
*/
body {
    margin: 0;
    padding: 0;

    font-family: "Roboto Regular", Verdana, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: #000000;

    background-color: #fff;
}

/* Глобальные стили */

a {
    text-decoration: none;
  }
  
img {
    max-width: 100%;
    height: auto;
}

:focus {
     outline: none; /* Стили для этого состояния прописаны явно */
}
  
/* Стили для скрывающего класса */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    -webkit-clip-path: inset(100%);
  
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*
          ***
   Стилизация. Хедер
*/
/* Стили главной навигации */
.main-navigation {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;

    background-color: rgb(238, 238, 238);
}

/* Переопределяем непрозрачность логотипа по нажатию и наведению */
.main-navigation img:hover,
.main-navigation img:focus {
    opacity: 0.8;
}

.main-navigation img:active {
    opacity: 0.3;
}

/* Убираем маркеры списка */
.site-navigation,
.user-navigation {
    list-style: none;
}

/* Переопределяем цвет ссылок по умолчанию */
.site-navigation a,
.user-navigation a {
  color: #000;
}

/* Цвет ссылок по наведению */
.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus {
    color: rgb(251, 81, 90);
}

/* Цвет ссылок по нажатию и находимся на странице */
.site-navigation a:active,
.user-navigation a:active {
    color: rgb(166, 166, 166);
    
}

/*******************************************************************************************/
/*       Страница каталога

         main
*/

/* Главный заголовок страницы каталога */
.inner-page .inner-heading {
    font-family: "Roboto", sans-serif;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    text-transform: none;

    margin: 0;
    margin-bottom: 35px;
    padding: 110px 0;
    text-align: center;

    background-color: #eeeeee;
}

/* Параметры шрифта в legend */
.list-header {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

/* Фон для элементов "Стоимость" */
.filter .range,
.filter input[type=number] {
    background-color: #eeeeee;
}

 /* Параметры шрифта в "СТОИМОСТЬ:" */
 .price-from-to label {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #283136;
 }

/* Курсор */
.filter input[type="range"],
.filter input[type="number"] {
    cursor: pointer;
}

/* Сетка фильтра */
/* Колонка фильтра с формой (Левая) */
.filter {
    min-height: 775px;
    width: 260px;

    margin-top: 19px;
}

.filter .list-header {
    margin-bottom: 12px;
}

.filter .cost-header {
    margin-bottom: 50px; 
}

.filter .filter-cost {
    margin-bottom: 55px;
}

/* Убираем --обводку fieldset */
.filter fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.filter .filter-grid,
.filter .filter-features {
    margin-bottom: 28px;
}

/* --и маркеры пунктов у списков */
.filter li {
    list-style: none;
}

.templates-filter ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Блок с ползунками */
.range-controls {
    position: relative;

    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    
    background-color: #f1f1f1;
    
    border-radius: 5px;
}

/* полоска между ползунками */
.range-controls .bar {
    width: 70%;
    height: 2px;
  
    background: #00ca74;
}

/* ползунки */
.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;

    width: 4px;
    height: 4px;
    padding: 0;
  
    border: 8px solid #ffffff;
    background-color: #ababab;
    -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
            box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}

/* позиции ползунков на шкале */
.range-controls .toggle-min {
    left: 18px;
}
  
.range-controls .toggle-max {
    left: 160px;
}

/* нижняя часть */
.price-controls {
    font-size: 0;
}
  
.price-controls label {
    display: inline-block;
    width: 50%;
    
    font-size: 16px;
    text-transform: uppercase;
}

/* поля ввода */
.price-controls input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 10px;

    font-family: "Roboto", Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;

    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.max-price {
    text-align: right;
}

/* вся полоска */
.range-controls .scale {
    height: 2px;
  
    background: #d7dcde;
}

.filter-input + label {
    min-width: 260px;
    margin-bottom: 12px; /* регулирует вертикальные отступы между инпутами */
    padding-left: 37px;
    
    /*background: rgba(0, 128, 0, 0.2);
    box-shadow: 0 0 0 3px green;*/
}

.filter-grid label,
.filter-features label {
    padding-top: 4px; /* регулирует вертикальные отступы между инпутами 
                      и центрирует текст относительно иконки*/
    display: block;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* Поведение лейблов в разных состояниях */

/* Поведение радио-баттонов */
.filter-input-radio + label,
.filter-input-radio:checked + label {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

/* --покой */
.filter-input-radio + label {
    background-image: url("../img/radio-off-normal.png");
}

/* --покой, выбрано */
.filter-input-radio:checked + label {
    background-image: url("../img/radio-on-normal.png");
}

 /* --наведение, фокус */
.filter-input-radio:hover + label,
.filter-input-radio:focus + label {
    background-image: url("../img/radio-off.png");
 }

/* --наведение, фокус, выбрано */
.filter-input-radio:checked:hover + label,
.filter-input-radio:checked:focus + label {
     background-image: url("../img/radio-on.png");
}
 
/* --отключено */
.filter-input-radio:disabled + label,
.filter-input-checkbox:disabled + label {
    color: #bec1c2;
}
 
.filter-input-radio:disabled + label {
    background-image: url("../img/radio-off-disabled.png");
}

/* Поведение чекбоксов */
.filter-input-checkbox + label,
.filter-input-checkbox:checked + label {
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

/* --покой */
.filter-input-checkbox + label {
    background-image: url("../img/checkbox-off-normal.png");
}

/* --покой, выбрано */
.filter-input-checkbox:checked + label {
    background-image: url("../img/checkbox-on-normal.png");
}

/* --наведение, фокус */
.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
    background-image: url("../img/checkbox-off.png");
}

/* --наведение, фокус, выбрано */
.filter-input-checkbox:checked:hover + label,
.filter-input-checkbox:checked:focus + label {
     background-image: url("../img/checkbox-on.png");
}

/* --отключено */
.filter-input-checkbox:disabled + label {
    background-image: url("../img/checkbox-off-disabled.png");
}

/* Кнопка "Показать" */
.templates-filter input[type="submit"] {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    padding: 17px 90px;
    background-color: #eeeeee;
    border: none;
    border-radius: 3px;
}

/* Состояния кнопки "показать" */
.templates-filter input[type="submit"]:hover,
.templates-filter input[type="submit"]:focus {
    background-color: #dfdfdf;
}

.templates-filter input[type="submit"]:active {
    color: #959595;
    background-color: #d5d5d5;
    -webkit-box-shadow: inset 0 4px 0 0 #bfbfbf;
            box-shadow: inset 0 4px 0 0 #bfbfbf;
}

/* Переопределяем стили для ссылок в сортировке */
.sorting li {
    font-family: inherit;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    list-style: none;
}

/* Убираем дефолтную рамку */
.filter input[type=number] {
    border: none;
}

.sorting a {
    color: #b2b2b2;
}

/* Поведение ссылок */
.sorting a:hover,
.sorting a:focus {
    color: #666666;
}

.sorting .sorting-item-active,
.sorting a:active {
    color: #000000;
}

/* Поведение стрелок */
.sorting-list-appearing img {
    opacity: 0.2;
}

.sorting-list-appearing a:hover img,
.sorting-list-appearing a:focus img {
    opacity: 0.5;
}

.sorting-list-appearing a:active img,
.current-arrow img {
    opacity: 0.9;
}

/* Блок "сортировать по... " */
.sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-bottom: 33px;
    list-style: none;
}

.sorting-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 310px;
    padding: 0;
    margin: 0;
}

.sorting-list .text {
    margin-right: 27px;
}

.sorting-list .text:last-child {
    margin-right: 0;
}

.sorting-list-appearing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0;
    width: 40px;
}

.sorting .list-header {
    width: 160px;
    margin-right: 240px;
}

/* Колонка с сортировкой, шаблонами и пагинатором (Правая) */


/* Стили для карточек шаблонов */
.template-image {
    width: 360px;
    height: 576px;
    margin: 0;
    margin-top: 40px;
}

.templates {
    margin-top: 5px;
}

.templates .template-item {
    position: relative;
    background-color: #fff;
    background-image: url("../img/browser.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

/* Заголовки шаблонов */
.templates a {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

/* убираем маркеры */
.templates li {
    list-style: none;
}

/* Блок с ценой */
.templates .price {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    width: 200px; 

    color: #ffffff;
    background-color: #fb565a;
    padding: 17px 0;
    border-radius: 3px;
}

/* Горизонтальное выравнивание. (Блок с ценой будет выровнен на следующем этапе маргинами) */
.template-item h3,
.template-item .template-description {
    text-align: center;
}

/* Поведение блока с ценой */
.templates .price:hover,
.templates .price:focus {
    background-color: #e74246;
}

.templates .price:active {
    background-color: #d7373b;
}

/* Стили для пагинатора */
.pagination-list a {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;

    list-style: none;
    text-align: center;
    background-color: #eeeeee;
    border-radius: 3px;
}

/* Поведение кнопок пагинатора */
.pagination-list a:hover,
.pagination-list a:focus {
    background-color: #dfdfdf;
}

.pagination-list li:not(.pagination-item-current) a:active {
    color: #bfbfbf;
    background-color: #d5d5d5;
    -webkit-box-shadow: inset 0 4px 0 #bfbfbf;
            box-shadow: inset 0 4px 0 #bfbfbf;
}

.pagination-list .pagination-item-current a {
    width: 44px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #fff;
    border: 3px solid #dbdbdb;
}


/*********************************************************************************************/
/*         Главная страница

           main
*/
/* Стили для слайдов */


.top-slider {
    background-color: rgb(238, 238, 238);
}

.top-slider h2 {
    font-family: "Roboto", sans-serif;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.top-slider p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

/* Кнопка "узнать больше" */
.top-slider .button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 16px;
    padding-left: 55px;
    padding-right: 55px;
    color: #fff;
    background-color: rgb(251, 86, 90);
    border-radius: 3px;
}

/* Состояния кнопки */
.top-slider .button:hover,
.top-slider .button:focus {
    background-color: #e74246;
}

.top-slider .button:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.4);
}


/* Предложения */

.advantages li {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    list-style: none;
}

.advantages h3 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 15px;
}

.advantages p {
    padding: 0;
    margin: 0;
    margin-bottom: 48px;
}

.advantages .color-red {
    background-color: #fb565a;
}

.advantages .color-green {
    background-color: rgb(0, 202, 116);
}

.advantages .color-yellow {
    background-color: rgb(239, 200, 74);
}

.advantages .button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding: 16px 40px;
    color: white;
    border-radius: 3px;
}

/* Цвета состояния кнопок --по наведению */
.advantages .color-red:hover,
.advantages .color-red:focus {
    background-color: rgb(231, 66, 70);
}

.advantages .color-green:hover,
.advantages .color-green:focus {
    background-color: rgb(0, 188, 108);
}

.advantages .color-yellow:hover,
.advantages .color-yellow:focus {
    background-color: rgb(234, 181, 52);
}

/* --по нажатию */
.advantages .color-red:active {
    background-color: rgb(215, 55, 59);
    color: rgb(227, 115, 118);
}

.advantages .color-green:active {
    background-color: rgb(0, 170, 98);
    color: rgba(255, 255, 255, 0.5);
}

.advantages .color-yellow:active {
    background-color: rgb(229, 167, 34);
    color: rgba(255, 255, 255, 0.5);
}
/* Выравнивание текста в кнопках */
.advantages .button {
    text-align: center;
}

/* Выравнивание текста */
.advantages h3,
.advantages p {
    text-align: left;
}

/* Преимущества */
.studio h3 {
    font-family: "Roboto", sans-serif;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.studio h4 {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.left-column p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.right-column p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}

/* Убираем маркеры списка заказов на разработку */
.studio li {
    list-style: none;
    font-size: inherit;
    font-weight: inherit;
}
/* "Проценты" */
.percent span {
    font-family: "Roboto", sans-serif;
    font-size: 45px;
    line-height: 10.06px; /* ?! Это из макета */
    font-weight: 700;
}

/* Партнеры */
/* Выравниваю лого партнеров */
.partners li {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    /* flex-basis: 210px;  */
    list-style: none;
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
    min-width: 210px;  
    /* width: 210px; */
}

.ref-list li:first-child {
    margin-left: -45px;
}

/* Вертикальная полоска между лого партнеров */
.partners li:not(:first-child)::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 52px;
    left: 0;
    top: 50%;
    margin-top: -26px;

    background-color: #eee;
} 

/* Переопределяем непрозрачность логотипов партнеров */
.partners img {
    opacity: 0.2;
}

/* Непрозрачность логотипов партнеров --по наведению */
.partners a:hover img,
.partners a:focus img {
    opacity: 1;
}

/* --по нажатию */
.partners a:active img {
    opacity: 0.1;
}

/*
          ***
         Футер
*/

/* Блок "напишите нам" */
.contacts {
   background-color: #ffffff;
   z-index: 2;
}

.contacts-title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

/* Кнопка вызова модального окна "напишите нам" */
.contacts .button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    padding: 16px 45px;
    color: #fff;
    background-color: rgb(251, 86, 90);
    border: none;
    border-radius: 3px;
}

/* Поведение */
.contacts .button:hover,
.contacts .button:focus {
    background-color: #e74246;
}

.contacts .button:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #d7373b;
}

/* Модальное окно. Форма */
.write-us {
    position: fixed;
    left: 50%;
    bottom: 180px;
    margin-left: -480px;
    padding-top: 70px;
    padding-bottom: 0;
    padding-left: 100px;
    padding-right: 100px;
    z-index: 10;

    width: 760px;
    min-height: 420px;
    background-color: #fff;
    -webkit-box-shadow: 0 20px 100px 10px black;
            box-shadow: 0 20px 100px 10px black;
}

.write-us h3 {
    font-family: "Roboto", sans-serif;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;    
}

.write-us h3,
.write-us p {
    padding: 0;
    margin: 0;
}

.write-us h3 {
    margin-bottom: 40px;
}

.write-us p {
    margin-bottom: 12px;
}

.write-us label {
    margin-bottom: 10px;
}

.write-us input {
    height: 24px;
}

.top-line-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 760px;
    margin-bottom: 18px;
}

.top-line input {
    min-width: 340px;
}

.bottom-line {
    width: 740px;
}

.bottom-line textarea {
    width: 100%;
    min-height: 92px;
    margin-bottom: 36px;
}

p[class$="-line"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

/* Подписи к полям */
.write-us label {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
}

/*  Поля формы */
.write-us input,
.write-us textarea{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    padding-left: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #8f8f8f;
}

/* Состояния полей формы */

/* --наведение */
.write-us input:hover,
.write-us textarea:hover {
    border-color: #b4b9bb; 
}

/* --фокус */
.write-us input:active,
.write-us input:focus,
.write-us textarea:active,
.write-us textarea:focus {
    color: #444444;
    border-color: #000;
}

.write-us input:active::-webkit-input-placeholder,
.write-us input:focus::-webkit-input-placeholder,
.write-us textarea:active::-webkit-input-placeholder,
.write-us textarea:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #444444;
}

.write-us input:active::-moz-placeholder,
.write-us input:focus::-moz-placeholder,
.write-us textarea:active::-moz-placeholder,
.write-us textarea:focus::-moz-placeholder { /* Firefox 19+ */
    color: #444444;
}
.write-us input:active:-ms-input-placeholder,
.write-us input:focus:-ms-input-placeholder,
.write-us textarea:active:-ms-input-placeholder,
.write-us textarea:focus:-ms-input-placeholder { /* IE 10+ */
    color: #444444;
}
.write-us input:active:-moz-placeholder,
.write-us input:focus:-moz-placeholder,
.write-us textarea:active:-moz-placeholder,
.write-us textarea:focus:-moz-placeholder { /* Firefox 18- */
    color: #444444;
}

/* --невалидное значение */
.write-us input[type="email"]:invalid {
    color: #e74246;
    border-color: #e74246;
}

/* Кнопка отправки формы */
.write-us input[type="submit"] {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 32px;
    padding-top: 16px;
    padding-left: 84px;
    padding-right: 84px;
    margin-bottom: 82px;

    color: #fff;
    background-color: rgb(251, 86, 90);
    border: none;
    border-radius: 3px;
}

/* поведение кнопки отправки формы */
.write-us input[type="submit"]:hover,
.write-us input[type="submit"]:focus {
    background-color: #e74246;
}

.write-us input[type="submit"]:active {
    color: rgba(255, 255, 255, 0.4);
    background-color: #d7373b;
}

/* Кнопка выхода из модального окна */
.close-button {
    position: absolute;
    top: 78px;
    right: 84px;
    background: #fff; 
}

/* Блок социальных сетей */

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1200px;
    margin-top: 55px;
    margin-bottom: 55px;
}

.social-description {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 580px;
}

.social-description p {
    margin: 0;
    padding: 5px 0;
}

.social-description b {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}

.social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 130px;
    margin-left: 0;
}

.social-media li {
    margin-right: 10px;
    list-style: none;
    
}

.social .network {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 79px;
    height: 79px;

    list-style: none;
    background-color: #e1e1e1;
    background-repeat: no-repeat;
    border-radius: 50%;
}

/* Поведение логотипов-ссылок */
.social .network:hover,
.social .network:focus {
    background-color: #e74246;
}

.social .network:active {
    background-color: #d7373b;
}

.social li:active img {
    opacity: 0.5;
}

/* Поведение кнопки выхода из модального окна --в покое */
.write-us button[type="button"] img {
    opacity: 0.5;
}

/* --по наведению, в фокусе */
.write-us button[type="button"]:hover img,
.write-us button[type="button"]:focus img {
    opacity: 1;
}

/* --по нажатию */
.write-us button[type="button"]:active img {
    opacity: 0.2;
}

/* убираем дефолтную рамку */
.write-us button[type="button"] {
    border: none;
    background-color: inherit;
    cursor: pointer;
}

/* Блок с картой */
.main-footer {
    margin-top: 60px;
}

.map-wrapper {
    position: relative;
    width: 100%;
    min-width: 1200px;
    height: 416px;
    margin: 0 0;
    margin-left: calc(50% - 720px);
    margin-bottom: 50px;
}

/* Интерактивная карта */
.map-interactive {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 1440px; /* По ТЗ ее нужно растянуть на всю ширину вьюпорта. Как? */

    z-index: 1;
}

.map-interactive-wrapper {
    position: relative;
    width: 100%;
}

.contacts p {
    margin: 0;
    padding: 0;
}

.contacts {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    position: absolute;
    top: 55px;
    left: 120px;
    max-width: 320px;
    padding: 50px;
}

.contacts .contacts-title {
    padding-bottom: 22px;
}

.contacts .address {
    padding-bottom: 19px;
}

.contacts .phone {
    padding-bottom: 38px;
}

/******************************************************************************************/
/*
          ***
     Сеточные стили
*/

html,
body {
    min-width: 1200px;
}

/*
          ***
         Хедер
*/

/* Главная навигация */

.main-navigation {
    padding-top: 48px;
    padding-bottom: 0;
}

/* Для всех флекс-контейнеров */
div[class$="-container"] {
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.main-navigation-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}

.inner-page .main-navigation-container {
    margin-bottom: -35px;
}

/* Убираем дефолтные стили списков */
.site-navigation ,
.user-navigation {
    padding: 0;
    margin: 0;

    list-style: none;
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 560px;
}

.site-navigation a,
.user-navigation a {
    display: block;
    margin-top: 15px;
    padding: 10px 22px;
}

.user-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 160px;
    margin-left: auto;
    margin-right: 20px;
}

.user-navigation .basket {
    position: relative;
    padding-left: 60px;
}

/* Псевдоэлемент с иконкой корзины */
.user-navigation .basket {

    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 20px 17px;
  }

.logo {
    width: 160px;
    height: 65px;
    margin-right: 180px;
}

/* Красные подчеркивания у ссылок гл. навигации */

.site-navigation a::after{
    content: "";
    position: absolute;
    top: 57px;
    left: 22px;

    display: none;

    padding-right: 65%;
    height: 2px;
    background-color: #fb565a;
}


.user-navigation a::after {
    content: "";
    position: absolute;
    top: 42px;
    left: 22px;

    display: none;

    padding-right: 72%;
    height: 2px;
    background-color: #fb565a;
}

/* Для позиционирования подчеркиваний */
.site-navigation li,
.user-navigation li {
    position: relative;
}

/* Красное подчеркивание по нажатию и находимся на странице */
.user-navigation a:active::after,
.site-navigation a:active::after,
.site-navigation .site-navigation-current::after {
    display: block;
}

/* тире перед li */
.left-column li {
    position: relative;
    padding-left: 35px;
}

.left-column li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    width: 26px;
    height: 2px;
    background-color: #fb565a;
}

/* Блок предложений */

.advantages ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 1200px;
    padding-bottom: 0;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.advantages li {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 380px;
    padding: 0;
    padding-top: 145px;
    padding-bottom: 95px;
    margin: 0;
    background-repeat: no-repeat;
    background-position: 0 0;
}

/* Картинки в блоке с предложениями */
.advantages li:nth-child(1) {
    background-image: url("../img/illustration-1.jpg");
}

.advantages li:nth-child(2) {
    background-image: url("../img/illustration-2.jpg");
}

.advantages li:nth-child(3) {
    background-image: url("../img/illustration-3.jpg");
}

.advantages ul {
    margin-bottom: 70px;
    border-bottom: 2px solid #eee;
}

/* Блок преимуществ */

.studio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1200px;
    padding-bottom: 48px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;

    border-bottom: 2px solid #eeeeee;
}

.left-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    width: 660px;
    margin-right: 140px;
}

.right-column {
    width: 370px;
}

/* Обнуляем дефолтные отступы */
.studio h3,
.studio left,
.studio p,
.studio ul {
    margin: 0;
    padding: 0;
} 

.left-column li,
.left-column h4 {
    margin-bottom: 30px;
}

.left-column h3 {
    margin-bottom: 33px;
}

.left-column p {
    margin-bottom: 20px;
}

.right-column .percent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;

    padding: 0;
    margin: 0;
}

.right-column span {
    display: block;
    margin-bottom: 40px;
}

.right-column li {
    margin-right: 22px;
}

.right-column h4 {
    margin-left: 18px;
    margin-bottom: 55px;
    /*box-shadow: inset 0 0 0 2px rgb(234, 255, 45);*/
}

.right-column img {
    margin-top: -35px;
    margin-bottom: 13px;
}

.percent sup {
    font-size: 27px;
}

/* Партнеры */
.partners {
    margin-bottom: 80px;
}

.partners .ref-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 1200px;
    padding-bottom: 42px;
    padding-top: 44px;
    margin: 0 auto;

    border-bottom: 2px solid #eeeeee;
}

/*  --------  */
/* Слайдер */
.top-slider {
    position: relative;
}

/* Переключатели слайдера */
.slider-controls i {
    position: relative;
    
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;
    
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls i::after {
    content: "";
    
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    
    width: 18px;
    height: 18px;
    
    background: #ffffff;
    border-radius: 50%;
}

.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 104px;
    /*z-index: 100;*/
    
    width: 160px;
    height: 18px;
  
    text-align: center;
    font-size: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

/* Активный переключатель */
.slider-controls .active::before {
    content: "";
    
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 2;

    width: 4px;
    height: 4px;

    background: #ffffff;
    border: 3px solid #c1c1c1;
    border-radius: 50%;
}

.container-centering {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.slide h3,
.slide p {
    margin: 0;
    padding: 0;
}

.top-slider {
    width: 100%;
    padding-top: 15px;
    margin: 0 auto;
}

/* Нижний отступ от заголовка*/
.slide h2 {
    margin: 0;
    margin-bottom: 25px;
}

/* -- от абзаца до кнопки */
.slide .slide-description {
    margin-bottom: 53px;
}

/* -- до следующей секции */
.top-slider .slide {
    padding-top: 60px;
    padding-bottom: 95px;
}

.slide {
    padding: 78px 0 80px 0;
}

.slide-1 {
    

    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    background-position: 430px 0;
    background-clip: unset;
}

.slide-2 {
    display: none;/* Временно */

    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    background-position: 500px -16px;
    background-clip: unset;
}

.slide-3 {
    display: none;/* Временно */

    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    background-position: 400px 2px;
    background-clip: unset;
}

/*  --------  */

/*
          ***
   Страница каталога
*/

.catalog {
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

/* Правая колонка с сортировкой, шаблонами и пагинатором */
.sorting-wrapper {
    min-height: 1990px;
    width: 760px;
    margin-right: 40px;
}

/* Общая обертка для колонок */
.catalog-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    max-width: 1200px;
    margin:0 auto 60px;
}

/* Размеры шаблонов и внешние отступы */
.template-item {
    min-height: 616px;
    width: 360px;
    margin-bottom: 60px;
    margin-right: 40px;
}

/* Делаем список шаблонов флекс-контейнером */
.template-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin: 0;

    list-style: none;
  }

.template-item:nth-child(2n) {
    margin-right: 0;
  }

/* Всплывающий блок */
/* Сделать на флексах */
.template-description-block {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 360px;
    min-height: 232px;
    background-color: #eeeeee;
}

.template-item:hover .template-description-block,
.template-item:focus .template-description-block {
    display: block;
}

.template-item:hover,
.template-item:focus {
    background-image: url("../img/browser-dark.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-box-shadow: 0 2px 20px 1px #999998;
            box-shadow: 0 2px 20px 1px #999998;
}

.template-description-block h3 {
    padding: 0;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 10px;
}

.template-description-block p {
    width: 240px;
    text-align: center;
    
    padding: 0;
    margin: 0;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.template-description-block .price {
    position: absolute;
    text-align: center;
    bottom: 40px;
    left: 50%;
    margin-left: -100px;
}


  /* Пагинатор */
.pagination-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    
    list-style: none;
}

.pagination-item a {
    display: block;
    width: 50px;
    margin-right: 10px;
    padding-top: 17px;
    padding-bottom: 16px;
}

.pagination-item-next a {
    width: 260px;
}

/*********************************************************************************************/